body {
    margin: 0;
    background-color: white;
}

h1 {
    margin: 0 auto;
    width: 12%;
    background-color: rgb(255, 255, 255);
}

.calc-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.calc-container .calculator {
    justify-content: center;
    width: 215px;
    height: 289px;
    margin: 40px;
    border: 1px solid #333;
    background-color: black;
}

.display {
    margin: 25px;
    
    color: white;
}
button {
    width: 50px;
    height: 55px;
    background-color: white;
    color: black;
}